.thoughts-2__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: vw(300);

  @media (max-width: $br1) {
    padding-bottom: 200px;
  }

  @media (max-width: $br3) {
    padding-bottom: 120px;
  }
}

.thoughts-2__title {
  @include cd-semibold;
  font-size: vw(22);
  line-height: 100%;
  letter-spacing: 4.4px;
  text-transform: uppercase;

  @media (max-width: $br1) {
    font-size: 16px;
    letter-spacing: 0.2em;
  }
}

.thoughts-2__filter {
  @include snfine-reg;
  font-size: vw(110);
  line-height: 100%;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: vw(90);
  color: #C6C6C6;

  @media (max-width: $br1) {
    flex-direction: column;
    margin-top: 20px;
    font-size: 40px;
  }
}

.thoughts-2__btn {
  background-color: transparent;
  color: inherit;
  font: inherit;

  &--active {
    color: var(--black);
    text-decoration: underline;
  }
}

.thoughts-2__line {
  padding-left: vw(8);
  padding-right: vw(8);

  @media (max-width: $br1) {
    display: none;
  }
}

.thoughts-2__img-list {
  gap: vw(150);
  margin-top: vw(320);

  @media (max-width: $br1) {
    margin-top: 120px;
  }
}

.thoughts-2__li {
  display: flex;
  flex-direction: column;

  &:nth-of-type(1) {
    @include col(1, 5);
  }

  &:nth-of-type(2) {
    @include col(8, 12);
  }

  &:nth-of-type(3) {
    @include col(1, 5);
    @include row(2, 2);
  }

  &:nth-of-type(4) {
    @include col(8, 12);
    @include row(2, 2);
  }

  &:nth-of-type(5) {
    @include col(1, 5);
    @include row(3, 3);
  }

  &:nth-of-type(6) {
    @include col(8, 12);
    @include row(3, 3);
  }

  &:nth-of-type(7) {
    @include col(1, 5);
    @include row(4, 4);
  }

  &:nth-of-type(8) {
    @include col(8, 12);
    @include row(4, 4);
  }

  &:nth-of-type(9) {
    @include col(1, 5);
    @include row(5, 5);
  }
}

.thoughts-2__img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.thoughts-2__block {
  display: flex;
  justify-content: space-between;
  margin-top: vw(30);

  @media (max-width: $br1) {
    margin-top: 20px;
  }
}

.thoughts-2__category {
  @include snfine-reg-it;
  font-size: vw(17);
  line-height: 100%;
  letter-spacing: 1.7px;
  color: #919191;

  @media (max-width: $br1) {
    letter-spacing: 0.1em;
    font-size: 17px;
  }
}

.thoughts-2__text-wrapper {
  max-width: vw(457);
}

.thoughts-2__block-title {
  @include snfine-reg;
  font-size: vw(30);
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (max-width: $br1) {
    font-size: 30px;
  }
}

.thoughts-2__date {
  @include cd-reg;
  font-size: vw(14);
  line-height: 180%;
  letter-spacing: 0.7px;
  margin-top: vw(15);

  @media (max-width: $br1) {
    line-height: 100%;
    letter-spacing: 0.05em;
    font-size: 12px;
    margin-top: 12px;
  }
}

.thoughts-2__text {
  @include cd-reg;
  font-size: vw(16);
  line-height: 160%;
  margin-top: vw(13);

  @media (max-width: $br1) {
    line-height: 150%;
    font-size: 16px;
    margin-top: 12px;
  }
}

.thoughts-2__block-btn {
  @include cd-semibold;
  background-color: transparent;
  width: fit-content;
  font-size: vw(16);
  line-height: 100%;
  letter-spacing: 0.2em;
  margin-top: vw(34);

  @media (max-width: $br1) {
    margin-top: 12px;
    font-size: 14px;
  }
}

.thoughts-2__posts-btn {
  @include cd-reg;
  background-color: transparent;
  font-size: vw(30);
  line-height: 100%;
  text-decoration-line: underline;
  margin-top: vw(236);

  @media (max-width: $br1) {
    font-size: 20px;
    margin-top: 200px;
  }

  @media (max-width: $br3) {
    margin-top: 120px;
  }
}
