.thoughts-2__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: vw(300);

  @media (max-width: $br1) {
    padding-bottom: 200px;
  }

  @media (max-width: $br3) {
    padding-bottom: 120px;
  }
}

.thoughts-2__title {
  @include space-mono-bold;
  color: var(--bg);
  font-size: vw(22);
  line-height: 1em;
  letter-spacing: 4.4px;
  text-transform: uppercase;

  @media (max-width: $br1) {
    font-size: 16px;
    letter-spacing: 0.2em;
  }
}

.thoughts-2__filter {
  @include awesome-serif;
  font-size: vw(120);
  line-height: 1em;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: vw(70);
  color: #7784a2;

  @media (max-width: $br1) {
    flex-direction: column;
    margin-top: 20px;
    font-size: 40px;
  }
}

.thoughts-2__btn-wrapper {
  display: flex;
  align-items: center;
}

.thoughts-2__btn {
  background-color: transparent;
  color: inherit;
  font: inherit;
  transition: color 0.4s ease;
  line-height: 1em;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 6px;
    background-color: #0f223f;
    transform: scaleX(0);
    transform-origin: 0;
    transition: transform 0.4s ease;
    position: relative;
    top: vw(4);

    @media (max-width: $br1) {
      top: 4px;
    }
  }

  &--active {
    color: #0f223f;
    &::after {
      transform: scaleX(1);
    }
  }
}

.thoughts-2__line {
  padding-left: vw(20);
  padding-right: vw(20);

  @media (max-width: $br1) {
    display: none;
  }
}

.thoughts-2__img-list-wrapper {
  width: 100%;
}

.thoughts-2__img-list {
  display: inline-block;
  margin-top: vw(320);
  width: 100%;
  clear: both;

  @media (max-width: $br1) {
    margin-top: 120px;
  }
}

.thoughts-2__li {
  display: inline-block;

  @media (min-width: $br1) {
    margin-bottom: vw(148);
    width: vw(674);

    &:nth-of-type(odd) {
      float: left;
      clear: left;
    }

    &:nth-of-type(even) {
      float: right;
      clear: right;
    }
  }

  @media (max-width: $br1) {
    margin-bottom: 40px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.thoughts-2__img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.thoughts-2__block {
  display: flex;
  justify-content: space-between;
  margin-top: vw(30);

  @media (max-width: $br1) {
    margin-top: 20px;
  }
}

.thoughts-2__text-wrapper {
  width: 100%;
}

.thoughts-2__name {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  @media (max-width: $br1) {
    flex-direction: column;
    gap: 12px;
  }
}

.thoughts-2__block-title {
  @include awesome-serif;
  font-size: vw(30);
  line-height: 1em;
  letter-spacing: 0.05em;
  text-transform: capitalize;

  @media (max-width: $br1) {
    font-size: 30px;
  }
}

.thoughts-2__category {
  @include space-mono-reg;
  font-size: vw(17);
  line-height: 1em;
  color: var(--bg);

  @media (min-width: $br1) {
    text-align: end;
    flex: 1 0 auto;
  }

  @media (max-width: $br1) {
    font-size: 17px;
    margin-top: 12px;
  }

  span {
    text-decoration: underline;
  }
}

.thoughts-2__desc {
  max-width: vw(457);

  @media (max-width: $br1) {
    max-width: 70%;
  }

  @media (max-width: $br3) {
    max-width: 100%;
  }
}

.thoughts-2__date {
  @include articulat-cf;
  font-size: vw(14);
  line-height: 1em;
  letter-spacing: 0.6px;
  margin-top: vw(15);

  @media (max-width: $br1) {
    font-size: 12px;
    margin-top: 12px;
  }
}

.thoughts-2__text {
  @include articulat-cf;
  font-size: vw(16);
  line-height: 1.6em;
  margin-top: vw(13);

  @media (max-width: $br1) {
    line-height: 1.5em;
    font-size: 16px;
    margin-top: 12px;
  }
}

.thoughts-2__text-btn {
  display: block;
  max-width: fit-content;
  margin-top: vw(34);

  @media (max-width: $br1) {
    margin-top: 12px;
  }
}

.thoughts-2__posts-btn {
  @include cd-reg;
  background-color: transparent;
  font-size: vw(30);
  line-height: 100%;
  text-decoration-line: underline;
  margin-top: vw(236);

  @media (max-width: $br1) {
    font-size: 20px;
    margin-top: 200px;
  }

  @media (max-width: $br3) {
    margin-top: 120px;
  }
}
