.post-15__wrapper {
  width: 100%;
  padding-bottom: vw(300);

  @media (max-width: $br1) {
    padding-bottom: 200px;
  }

  @media (max-width: $br3) {
    padding-bottom: 120px;
  }
}

.post-15__title {
  @include snfine-reg;
  position: relative;
  font-size: vw(120);
  line-height: 100%;
  text-transform: uppercase;
  max-width: vw(988);

  @media (min-width: $br1) {
    margin-left: vw(140);
  }

  @media (max-width: $br1) {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    font-size: 52px;
  }

  @media (max-width: $br4) {
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
  }
}

.post-15__img-list {
  display: inline-block;
  margin-top: vw(-180);

  @media (max-width: $br1) {
    margin-top: -80px;
  }
}

.post-15__li {
  display: inline-block;
  width: 100%;

  @media (min-width: $br1) {
    margin-bottom: vw(148);
    width: vw(674);

    &:nth-of-type(odd) {
      float: left;
    }

    &:nth-of-type(even) {
      float: right;
    }
  }

  @media (max-width: $br1) {
    margin-bottom: 40px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.post-15__img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.post-15__block {
  margin-top: vw(30);

  @media (max-width: $br1) {
    margin-top: 28px;
  }
}

.post-15__text {
  @include cd-reg;
  font-size: vw(22);
  line-height: 140%;

  @media (max-width: $br1) {
    font-size: 16px;
  }
}
