.post-1 {
  height: 100vh;
  position: relative;
}

.post-1__wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post-1__title {
  width: 90%;
  @media (max-width: $br1) {
    width: 100%;
  }
  h1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: center;
    font-size: vw(150);
    line-height: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media (max-width: $br1) {
      font-size: 100px;
    }
    @media (max-width: $br3) {
      font-size: 56px;
    }
  }
}

// .post-1__style-title {
//   @include cd-reg;
// }

.post-1__btns-wrapper {
  width: 100%;

  @media (max-width: $br1) {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin-top: 60px;
  }
}

.post-1__btn {
  @include cd-reg;
  font-size: vw(30);
  line-height: 100%;
  color: var(--black);
  text-decoration-line: underline;
  background-color: transparent;
  @media (min-width: $br1) {
    position: absolute;
    top: 50%;
  }

  @media (max-width: $br1) {
    font-size: 20px;
  }

  &--prev {
    @media (min-width: $br1) {
      transform-origin: top left;
      left: vw(65);

      transform: rotate(-90deg) translateX(-50%);
    }
  }

  &--next {
    @media (min-width: $br1) {
      transform-origin: top right;
      right: vw(65);

      transform: rotate(90deg) translateX(50%);
    }
  }
}

.article-section {
  > * + * {
    margin-top: vw(220);
    @media (max-width: $br1) {
      margin-top: 80px;
    }
  }
}
