.post-5 {
  position: relative;
}

.post-5__img {
  display: block;
  width: 100%;

  @media (min-width: $br1) {
    object-fit: cover;
    height: 100vh;
  }

  @media (max-width: $br1) {
    height: 100%;
  }
}
