.post-3 {
  position: relative;
}

.post-3__wrapper {
  height: 100%;
}

.post-3__text-wrapper {
  row-gap: vw(60);

  @media (max-width: $br1) {
    row-gap: 20px;
  }
}

.post-3__title {
  @include snfine-reg;
  @include col(2, 7);
  font-size: vw(120);
  line-height: 100%;
  text-transform: uppercase;

  @media (max-width: $br1) {
    font-size: 56px;
  }

  @media (max-width: $br2) {
    @include col(1, 12);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
  }
}

.post-3__desc {
  @include cd-reg;
  @include col(3, 10);
  @include row(2, 2);
  font-size: vw(40);
  line-height: 140%;

  @media (max-width: $br1) {
    font-size: 20px;
  }

  @media (max-width: $br2) {
    @include col(1, 12);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
  }
}
