.dark-block {
  position: relative;
  background-color: var(--bg);
  color: var(--white);
  height: 100vh;
}

.dark-block__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.dark-block__title {
  @include cd-semibold;
  @include col(3, 9);
  font-size: vw(40);
  line-height: 100%;
  text-transform: uppercase;

  @media (max-width: $br1) {
    @include col(3, 10);
    font-size: 32px;
  }

  @media (max-width: $br3) {
    @include col(1, 12);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
  }
}

.dark-block__text {
  @include cd-reg;
  @include col(3, 9);
  width: 100%;
  font-size: vw(40);
  line-height: 140%;
  margin-top: vw(16);

  @media (max-width: $br1) {
    @include col(3, 10);
    font-size: 20px;
    margin-top: 16px;
  }

  @media (max-width: $br3) {
    @include col(1, 12);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
  }
}
