.about-2 {
  position: relative;
}

.about-2__wrapper {
  height: 100%;
}

.about-2__square {
  top: vw(-160);
  right: vw(326);
  left: auto;
  width: vw(256);
  height: vw(118);

  @media (max-width: $br1) {
    position: absolute;
    top: -90px;
    left: auto;
    right: $g-sm;
    width: 165px;
    height: 76px;
  }

  @media (max-width: $br3) {
    right: $g-s;
  }

  &.js-active {
    @media (min-width: $br1) {
      width: vw(320);
    }
  }
}

.about-2__text {
  @include articulat-cf;
  @include col(3, 10);
  width: 100%;
  font-size: vw(40);
  line-height: 1.4em;

  @media (max-width: $br1) {
    font-size: 20px;
  }

  @media (max-width: $br3) {
    @include col(1, 12);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
  }
}
