.about-4 {
  position: relative;
}

.about-4__wrapper {
  height: 100%;
}

.about-4__img {
  @include col(2, 11);
  display: block;
  width: 100%;
  max-width: 100%;

  @media (min-width: $br1) {
    height: vw(778);
  }

  @media (max-width: $br1) {
    @include col(1, 12);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
  }
}
