.about-6 {
  position: relative;
}

.about-6__wrapper {
  height: 100%;
}

.about-6__title {
  @include space-mono-bold;
  @include col(3, 9);
  font-size: vw(40);
  line-height: 100%;
  text-transform: uppercase;

  @media (max-width: $br1) {
    @include col(3, 10);
    font-size: 32px;
  }

  @media (max-width: $br3) {
    @include col(1, 12);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
  }
}

.about-6__text {
  @include articulat-cf;
  @include col(3, 9);
  width: 100%;
  font-size: vw(40);
  line-height: 1.5em;
  margin-top: vw(16);
  letter-spacing: 0.15px;

  @media (max-width: $br1) {
    @include col(3, 10);
    line-height: 1.4em;
    font-size: 20px;
    margin-top: 16px;
  }

  @media (max-width: $br3) {
    @include col(1, 12);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
  }
}
