.about-1 {
  height: 100vh;
  position: relative;
}

.about-1__wrapper {
  height: 100%;
}

.about-1__text-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.about-1__title {
  @include snfine-reg;
  max-width: vw(1456);
  width: 100%;
  font-size: vw(200);
  line-height: 100%;
  letter-spacing: 0.05em;

  @media (max-width: $br1) {
    max-width: 335px;
    font-size: 52px;
  }
}

.about-1__style-title {
  @include snfine-reg-it;
}
