.about-5 {
  position: relative;
}

.about-5__wrapper {
  height: 100%;
}

.about-5__content {
  position: relative;

  @media (max-width: $br1) {
    row-gap: 40px;
  }
}

.about-5__title {
  @include snfine-reg;
  font-size: vw(120);
  line-height: 100%;
  text-transform: uppercase;

  @media (min-width: $br1) {
    @include col(2, 6);
    position: relative;
    top: vw(190);
  }

  @media (max-width: $br1) {
    position: absolute;
    max-width: 246px;
    top: -62px;
    right: 0;
    font-size: 52px;
  }
}

.about-5__img {
  display: block;
  width: 100%;
  max-width: 100%;

  &:nth-of-type(1) {
    @include col(1, 5);
    @include row(2, 2);

    @media (max-width: $br1) {
      @include col(1, 12);
    }

    @media (max-width: $br4) {
      @include col(1, 4);
    }
  }

  &:nth-of-type(2) {
    @include col(8, 12);
    @include row(2, 2);

    @media (max-width: $br1) {
      @include col(1, 12);
      @include row(3, 3);
    }

    @media (max-width: $br4) {
      @include col(1, 4);
    }
  }
}
