.home-4 {
  height: 100vh;
  position: relative;
  background-color: var(--black);
  min-width: 100vw;
}

.home-4__wrapper {
  min-height: 100%;
  padding-top: 40vh;

  @media (max-width: $br1) {
    padding-top: 35vh;
  }
}

.home-4__text {
  @include col(3, 10);
  @include cd-reg;
  color: var(--white);
  max-width: vw(1030);
  font-size: vw(40);
  line-height: 138%;
  letter-spacing: 1.4px;

  @media (max-width: $br1) {
    max-width: 600px;
    font-size: 20px;
  }

  @media (max-width: $br4) {
    @include col(1, 4);
    max-width: 100%;
  }
}

.home-4__style-text {
  &:nth-child(1) {
    @include snfine-reg;
  }

  &:nth-child(2) {
    @include snfine-reg-it;
  }

  &:nth-child(3) {
    @include snfine-reg-it;
  }

  &:nth-child(4) {
    @include snfine-reg;
  }

  &:nth-child(5) {
    @include snfine-reg-it;
  }

  &:nth-child(6) {
    @include snfine-reg;
  }

  &:nth-child(7) {
    @include snfine-reg;
  }

  &:nth-child(8) {
    @include snfine-reg;
  }

  &:nth-child(9) {
    @include snfine-reg-it;
  }
}
