.home-6 {
  position: relative;
  background-color: var(--black);

  @media (min-width: $br1) {
    height: 100vh;
    width: 100vw;
  }

  @media (max-width: $br1) {
    padding-top: 200px;
  }

  @media (max-width: $br3) {
    padding-top: 120px;
  }
}

.home-6__wrapper {
  align-items: center;
  height: 100%;

  @media (max-width: $br1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 60px;
  }
}

.home-6__text-wrapper {
  @media (max-width: $br1) {
    max-width: 80%;
  }

  @media (max-width: $br4) {
    max-width: 100%;
  }

  &:nth-child(1) {
    @include col(1, 5);

    @media (max-width: $br1) {
      @include col(1, 12);
    }

    @media (max-width: $br4) {
      @include col(1, 4);
    }
  }

  &:nth-child(2) {
    @include col(8, 12);

    @media (max-width: $br1) {
      @include col(1, 12);
      @include row(2, 2);
    }

    @media (max-width: $br4) {
      @include col(1, 4);
    }
  }
}

.home-6__title {
  @include snfine-reg;
  color: var(--white);
  font-size: vw(45);
  line-height: 100%;
  letter-spacing: 4.5px;

  @media (max-width: $br1) {
    font-size: 32px;
  }
}

.home-6__style-title {
  @include snfine-reg-it;
}

.home-6__content {
  @media (min-width: $br1) {
    padding-left: vw(240);
  }
}

.home-6__desc {
  @include cd-reg;
  color: var(--white);
  letter-spacing: 2.2px;
  line-height: 140%;
  font-size: vw(22);
  margin-top: vw(68);

  @media (max-width: $br1) {
    font-size: 16px;
    margin-top: 20px;
  }
}

.home-6__btn-wrapper {
  display: flex;
  align-items: flex-end;
  margin-top: vw(70);

  @media (max-width: $br1) {
    margin-top: 25px;
  }
}

.home-6__btn {
  @include cd-semibold;
  background-color: transparent;
  color: var(--white);
  font-size: vw(17);
  line-height: 100%;
  letter-spacing: 3.4px;
  margin-right: vw(4);

  @media (max-width: $br1) {
    font-size: 17px;
    margin-right: 4px;
  }
}

.home-6__btn-text {
  @include snfine-reg-it;
  color: var(--white);
  font-size: vw(23);
  line-height: 100%;
  letter-spacing: 1.15px;

  @media (max-width: $br1) {
    font-size: 23px;
  }
}
