.home-4 {
  height: 100vh;
  position: relative;
  background-color: var(--black);
  min-width: 100vw;
}

.home-4__wrapper {
  display: flex;
  position: relative;
  min-height: 100%;
  flex-flow: column nowrap;
}

.home-4__text {
  @include cd-reg;
  color: var(--white);
  max-width: vw(1080);
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: vw(40);
  line-height: 138%;
  letter-spacing: 1.4px;
}

.home-4__style-text {
  font-style: normal;
  opacity: 0.45;

  &--1 {
    @include cd-light;
  }

  &--2 {
    @include snfine-reg;
  }
}
