.wrapper {
  position: relative;
  @media (min-width: $br1) {
    height: 600vh;
    width: 100%;
  }
}

.scroller {
  width: 100%;
  overflow: hidden;
  @media (min-width: $br1) {
    position: sticky;
    top: 0;
  }
}

.scroller-el {
  @media (min-width: $br1) {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
  }
}

.home-3 {
  height: 100vh;
  position: relative;
  background-color: var(--black);
  min-width: 100vw;
}

.home-3__wrapper {
  min-height: 100%;
}

.home-3__title {
  @include snfine-reg-it;
  color: var(--white);
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: vw(156);
  line-height: 100%;
  letter-spacing: 0.07em;

  @media (max-width: $br1) {
    font-size: 56px;
  }
}

.home-3__style-title {
  font-style: normal;
  font-size: vw(166);
  opacity: 0.45;
  letter-spacing: 0.07em;

  @media (max-width: $br1) {
    font-size: 56px;
  }

  &:nth-child(1) {
    @include cd-light;
  }

  &:nth-child(2) {
    @include snfine-reg;
  }
}
