.home-9 {
  position: relative;
  padding-bottom: vw(300);
  background-color: var(--bg);

  @media (max-width: $br1) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media (max-width: $br3) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.home-9__wrapper {
  display: flex;
  justify-content: space-between;
  @media (max-width: $br1) {
    flex-direction: column;
  }
}

.home-9__title-wrapper {
  @media (min-width: $br1) {
    display: flex;
    justify-content: flex-start;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: fit-content;
  }
}

.home-9__title {
  @include articulat-cf;
  font-size: vw(65);
  line-height: 1.3em;
  max-width: vw(536);
  height: fit-content;
  color: var(--white);
  text-transform: capitalize;

  @media (max-width: $br1) {
    font-size: 45px;
    line-height: 1em;
    max-width: none;
  }
}

.home-9__list-wrapper {
  @media (min-width: $br1) {
    display: flex;
    max-width: vw(813);
  }
}

.home-9__list {
  @media (max-width: $br1) {
    margin-top: 82px;
  }
}

.home-9__li {
  margin-top: vw(32);

  &:first-of-type {
    margin-top: 0;
  }

  @media (max-width: $br1) {
    margin-top: 28px;
  }

  &:hover {
    .home-9__item-img-wrapper {
      opacity: 1;
      transform: translateY(-50%);
    }
    .home-9__item-img {
      transform: translateY(0%) scale(1);
    }
  }
}

.home-9__item-wrapper {
  position: relative;
}

.home-9__item-text {
  @include articulat-cf;
  font-size: vw(50);
  line-height: 1.4em;
  position: relative;
  z-index: 3;
  color: var(--white);
  mix-blend-mode: difference;
  text-transform: capitalize;

  @media (max-width: $br1) {
    font-size: 24px;
    line-height: 100%;
  }
}

.home-9__item-img-wrapper {
  width: vw(400);
  height: vw(400);
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(50%);
  right: vw(140);
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 1s ease, transform 1s $easing;
  @media (max-width: $br1) {
    display: none;
  }
}

.home-9__item-img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(-100%) scale(1.5);
  transition: transform 1s $easing;
}
