.home-5 {
  height: 100vh;
  position: relative;
  background-color: var(--black);
  min-width: 100vw;
}

.home-5__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.home-5__rotate-text {
  @include cd-semibold;
  // display: flex;
  // justify-content: flex-end;
  color: var(--white);
  // writing-mode: tb-rl;
  transform: rotate(-90deg);
  letter-spacing: 4px;
  line-height: 100%;
  font-size: vw(20);
  position: absolute;
  left: vw(-180);
  top: 4vh;

  @media (max-width: $br1) {
    left: -38px;
    top: -10vh;
    font-size: 16px;
  }

  @media (max-width: $br3) {
    left: 20px;
  }
}

.home-5__accordion {
  @include col(2, 8);

  @media (max-width: $br1) {
    @include col(1, 12);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
  }
}
