.home-7 {
  height: 100vh;
  position: relative;
  width: 100vw;
  background-color: var(--black);
}

.home-7__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100vw;
}

.home-7__top-block {
  display: flex;
  height: 100%;

  @media (max-width: $br1) {
    align-items: center;
  }
}

.home-7__top-title {
  @include cd-reg;
  text-transform: uppercase;
  color: var(--white);
  font-size: vh(90);
  line-height: 140%;
  letter-spacing: 4.25px;

  @media (min-width: $br1) {
    position: absolute;
    top: vh(340);
  }

  @media (max-width: $br1) {
    font-size: 36px;
    line-height: 100%;
  }
}

.home-7__bottom-block {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  background-color: var(--white);
  transform: translateY(100%);
}

.home-7__bottom-title {
  @include cd-reg;
  position: relative;
  top: 9vh;
  text-transform: uppercase;
  color: var(--black);
  font-size: vh(90);
  line-height: 140%;
  letter-spacing: 4.25px;

  @media (max-width: $br1) {
    top: 4vh;
    font-size: 36px;
    line-height: 100%;
  }
}

.home-7__title-style {
  @include snfine-reg;
  font-size: vh(85);
  line-height: 150%;
  letter-spacing: 4.5px;

  @media (max-width: $br1) {
    font-size: 36px;
    line-height: 100%;
  }
}
