.home-5 {
  position: relative;
  background-color: var(--black);

  @media (min-width: $br1) {
    height: 100vh;
    min-width: 100vw;
  }

  @media (max-width: $br1) {
    padding-top: 200px;
  }

  @media (max-width: $br3) {
    padding-top: 120px;
  }
}

.home-5__wrapper {
  height: 100%;

  @media (min-width: $br1) {
    align-items: center;
  }

  @media (max-width: $br1) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.home-5__rotate-text {
  @include cd-semibold;
  color: var(--white);
  letter-spacing: 4px;
  line-height: 100%;
  width: fit-content;

  @media (min-width: $br1) {
    @include col(1, 1);
    position: relative;
    top: 5vh;
    left: -18vh;
    font-size: vh(20);
    transform: rotate(-90deg);
  }

  @media (max-width: $br1) {
    position: relative;
    margin-bottom: 40px;
    font-size: 16px;
  }
}

.home-5__accordion {
  @include col(2, 8);
  @media (min-width: $br1) {
    max-width: vw(950);
  }

  @media (max-width: $br1) {
    @include col(1, 12);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
  }
}
