.home-1 {
  height: 100vh;
  position: relative;
}

.color-changer {
  background-color: var(--white);
  color: rgba(0, 0, 0, 1);
}

.home-1__wrapper {
  min-height: 100%;
}

.home-1__title {
  h1,
  h2 {
    font-size: vw(200);
    line-height: 1em;
    letter-spacing: 0.07em;

    @media (max-width: $br1) {
      font-size: 56px;
    }
  }
  &--gray {
    opacity: 0.45;
  }
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-1__style-title {
  @include cd-light;
  font-style: normal;
}
