.home-4 {
  height: 100vh;
  position: relative;

  min-width: 100vw;
}

.home-4__wrapper {
  min-height: 100%;

  @media (min-width: $br1) {
    padding-top: 40vh;
  }

  @media (max-width: $br1) {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.home-4__text {
  * {
    font-size: vw(40);
    line-height: 138%;
    letter-spacing: 1.4px;
    @media (max-width: $br1) {
      font-size: 20px;
    }
  }
  @include col(3, 10);

  @media (min-width: $br1) {
    max-width: vw(1030);
  }

  @media (max-width: $br1) {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
    max-width: 100%;
  }
}

.home-4__style-text {
  &:nth-child(1) {
    @include snfine-reg;
  }

  &:nth-child(2) {
    @include snfine-reg-it;
  }

  &:nth-child(3) {
    @include snfine-reg-it;
  }

  &:nth-child(4) {
    @include snfine-reg;
  }

  &:nth-child(5) {
    @include snfine-reg-it;
  }

  &:nth-child(6) {
    @include snfine-reg;
  }

  &:nth-child(7) {
    @include snfine-reg;
  }

  &:nth-child(8) {
    @include snfine-reg;
  }

  &:nth-child(9) {
    @include snfine-reg-it;
  }
}
