.home-1 {
  height: 100vh;
  position: relative;
}

.home-1__wrapper {
  display: flex;
  position: relative;
  min-height: 100%;
  flex-flow: column nowrap;
}

.home-1__title {
  @include snfine-regcond-it;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: vw(156);
  line-height: 100%;
  letter-spacing: 8px;
}

.home-1__italic-title {
  @include cd-light;
  font-style: normal;
}
