.accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.accordion__btn {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  overflow: hidden;

  &.opened {
    .accordion__text {
      height: calc(var(--h, 1vh) * 100);
      @media (max-width: $br1) {
        margin-top: 20px;
      }
    }
    svg {
      transform: rotate(-180deg);
    }
  }
  + .accordion__btn {
    margin-top: vh(38);
    @media (max-width: $br1) {
      margin-top: 40px;
    }
  }
}

.accordion__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  svg {
    max-width: 100%;
    height: vw(16);
    width: vw(30);
    display: block;
    fill: #707070;
    transition: transform 0.3s ease;
    @media (max-width: $br1) {
      height: 8px;
      width: 15px;
    }
  }
}

.accordion__title {
  @include cd-light;
  font-size: vh(90);
  line-height: 124%;
  color: var(--white);

  // margin-bottom: vh(38);

  @media (max-width: $br1) {
    font-size: 32px;
    line-height: 100%;
    // margin-bottom: 40px;
  }

  &--1 {
    margin-top: 0;
  }
}

.accordion__text {
  @include cd-light;
  font-size: vh(40);
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--white);
  text-align: start;
  overflow: hidden;
  height: 0;
  transition: height 0.4s ease, margin-top 0.4s ease;

  @media (max-width: $br1) {
    font-size: 20px;
    line-height: 100%;
  }
}

.accordion__line {
  width: 100%;
  height: 2px;
  margin-top: vh(38);
  background-color: #707070;
  @media (max-width: $br1) {
    margin-top: 40px;
  }
}
