.accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.accordion__btn {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  overflow: hidden;

  &.opened {
    .accordion__text {
      height: calc(var(--h, 1vh) * 100);
      margin-top: vh(20);

      @media (max-width: $br1) {
        margin-top: 20px;
      }
    }
    .accordion__plus-container {
      span {
        &:last-child {
          transform: rotate(0deg);
        }
      }
    }
  }
  + .accordion__btn {
    margin-top: vh(38);
    @media (max-width: $br1) {
      margin-top: 40px;
    }
  }
}

.accordion__content {
  position: relative;
  width: 100%;

  @media (min-width: $br1) {
    display: grid;
    align-items: end;
    grid-template-columns: fit-content(vh(152)) 1fr fit-content(vh(152));
    column-gap: vh(120);
    grid-auto-flow: row;
  }

  @media (max-width: $br1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.accordion__number {
  @include articulat-cf;
  font-size: vh(30);
  line-height: 1em;
  color: var(--white);

  @media (max-width: $br1) {
    font-size: 20px;
  }
}

.accordion__title {
  @include space-mono-reg;
  font-size: vh(35);
  line-height: 1em;
  color: var(--white);
  text-align: start;

  @media (max-width: $br1) {
    font-size: 32px;
    line-height: 100%;
    margin-top: 8px;
    max-width: 90%;
  }

  &--1 {
    margin-top: 0;
  }
}

.accordion__plus-container {
  display: flex;
  width: vh(24);
  height: vh(24);
  justify-content: center;
  align-items: center;
  position: relative;

  @media (max-width: $br1) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
  }

  span {
    display: block;
    width: 100%;
    height: vh(6);
    background-color: var(--white);
    position: absolute;
    transition: transform 0.3s ease;

    @media (max-width: $br1) {
      height: 4px;
    }

    &:last-child {
      transform: rotate(90deg);
    }
  }
}

.accordion__text {
  @include articulat-cf;
  @include col(2, 2);
  font-size: vh(30);
  line-height: 1.45em;
  color: var(--white);
  text-align: start;
  overflow: hidden;
  height: 0;
  transition: height 0.4s ease, margin-top 0.4s ease;

  @media (max-width: $br1) {
    max-width: 90%;
    font-size: 20px;
    line-height: 100%;
  }
}

.accordion__line {
  width: 100%;
  height: 1px;
  margin-bottom: vh(36);
  background-color: #cc69a3;

  @media (max-width: $br1) {
    margin-bottom: 40px;
  }

  &:last-of-type {
    margin-bottom: 0;
    margin-top: vh(36);

    @media (max-width: $br1) {
      margin-top: 40px;
    }
  }
}
