.nav-open {
  .bottom-nav-socials {
    --s-color: #fff;
    mix-blend-mode: normal;
  }
}

.bottom-nav-socials {
  position: fixed;
  z-index: 100;
  mix-blend-mode: difference;
  display: flex;
  align-items: flex-end;

  @media (min-width: $br1) {
    @include col(1, 1);
    position: fixed;
    bottom: vw(86);
    z-index: 100;
    left: vw(65);
  }

  @media (max-width: $br1) {
    // left: 50%;
    // transform: translateX(-50%);
    width: 100%;
    justify-content: center;
    bottom: 22px;
  }
}

.bottom-nav-btn {
  @include col(6, 8);
  position: absolute;
  bottom: vw(86);
  z-index: 85;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: $br1) {
    display: none;
  }
  &--fixed {
    position: fixed;
  }

  &--hidden {
    visibility: hidden;
    opacity: 0 !important;
  }
}

.navigation-notfixed {
  position: absolute;
}
