.bottom-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: vw(20);
  z-index: 100;
  width: 100%;

  @media (max-width: $br1) {
    bottom: 20px;
  }
}

.bottom-nav__socials {
  @media (min-width: $br1) {
    @include col(1, 1);
    position: absolute;
    left: vw(65);
  }
}

.bottom-nav__btn {
  @include col(6, 8);

  @media (max-width: $br1) {
    display: none;
  }
}

.navigation-notfixed {
  position: absolute;
}
