.case-info {
  position: relative;
}

.case-info__wrapper {
  height: 100%;
}

.case-info__line {
  background-color: #707070;
  height: 1px;
  width: 100%;
}

.case-info__list {
  display: flex;
  justify-content: space-around;
  margin-top: vw(38);

  @media (max-width: $br1) {
    flex-direction: column;
    margin-top: 40px;
  }
}

.case-info__li {
  // &:nth-of-type(1) {
  //   @include col(1, 3);
  // }

  // &:nth-of-type(2) {
  //   @include col(4, 6);
  // }

  // &:nth-of-type(3) {
  //   @include col(7, 9);
  // }

  // &:nth-of-type(4) {
  //   @include col(10, 12);
  // }

  @media (max-width: $br1) {
    margin-top: 32px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.case-info__title {
  @include snfine-reg-it;
  font-size: vw(17);
  line-height: 100%;
  letter-spacing: 0.2em;

  @media (max-width: $br1) {
    font-size: 17px;
  }
}

.case-info__text-wrapper {
  margin-top: vw(24);

  @media (max-width: $br1) {
    margin-top: 12px;
  }
}

.case-info__text {
  @include cd-reg;
  font-size: vw(17);
  line-height: 147%;
  letter-spacing: 0.05em;

  @media (max-width: $br1) {
    font-size: 17px;
  }
}
