.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  position: relative;
  background-color: var(--bg);
  min-height: 100vh;

  @media (min-width: $br1) {
    padding: vw(200) 0;
    padding-bottom: vw(100);
  }

  @media (max-width: $br1) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.contacts__wrapper {
  height: 100%;
  @media (max-width: $br1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.contacts__list-items {
  @media (min-width: $br1) {
    @include col(1, 5);
  }
}

.contacts__list-text {
  @include space-mono-bold;
  font-size: vw(17);
  line-height: 1em;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @media (max-width: $br1) {
    font-size: 17px;
  }
}

.contacts__item {
  margin-top: vw(72);

  @media (max-width: $br1) {
    margin-top: 36px;
  }

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(2) {
    margin-top: vw(70);

    @media (max-width: $br1) {
      margin-top: 48px;
    }
  }

  &:last-child {
    max-width: vw(362);

    @media (max-width: $br1) {
      max-width: 335px;
    }
  }
}

.contacts__item-title {
  @include awesome-serif;
  font-size: vw(45);
  line-height: 1em;
  letter-spacing: 4.5px;
  color: var(--white);
  margin-bottom: vw(22);

  @media (max-width: $br1) {
    font-size: 24px;
    letter-spacing: 2.4px;
    margin-bottom: 12px;
  }
}

.contacts__email {
  @include space-mono-reg;
  font-size: vw(45);
  line-height: 1em;
  color: var(--white);
  transition: transform 0.3s ease;

  &:hover {
    .contacts__email-text {
      color: rgba(0, 0, 0, 0);
    }

    .contacts__email-line {
      &::after {
        opacity: 1;
      }
    }
  }

  @media (max-width: $br1) {
    font-size: 25px;
  }

  @media (max-width: $br5) {
    font-size: vw(25, $minWidth);
  }
}

.contacts__email-line {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  margin-top: vw(20);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: cover;
    background-image: linear-gradient(90deg, #e36852 0%, #cc69a3 100%);
    transition: opacity 0.3s ease;
  }

  @media (max-width: $br1) {
    margin-top: 14px;
  }
}

.contacts__email-text {
  display: inline-block;
  transition: color 0.3s ease;
  background-size: cover;
  background-image: linear-gradient(90deg, #e36852 0%, #cc69a3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  line-height: 1.5em;
}

.contacts__link {
  @include articulat-cf;
  font-size: vw(35);
  line-height: 1.28em;
  color: var(--white);
  display: block;
  transition: color 0.3s ease, transform 0.3s ease;
  background-size: cover;
  background-image: linear-gradient(90deg, #e36852 0%, #cc69a3 100%);
  background-clip: text;
  -webkit-background-clip: text;

  @media (max-width: $br1) {
    font-size: 20px;
    line-height: 1em;
  }

  &:hover {
    transform: translateX(5px);
    color: rgba(0, 0, 0, 0);
  }
}

.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (min-width: $br1) {
    @include col(7, 11);
  }

  @media (max-width: $br1) {
    width: 70%;
  }

  @media (max-width: $br3) {
    width: 100%;
  }
}
