.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 90;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 1s ease, visibility 1s ease;

  &--active {
    visibility: visible;
  }
}

.menu__bg {
  background: linear-gradient(90deg, #e36852 0%, #cc69a3 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  transform: translateY(100%);
}

.menu__list {
  position: relative;
  @include col(2, 7);

  @media (max-width: $br1) {
    @include col(2, 12);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
  }
}

.menu__wrapper {
  z-index: 3;
}

.menu__li {
  padding-top: vw(24);
  width: fit-content;
  transform: translateY(50px);
  opacity: 0;

  &:first-of-type {
    padding-top: 0;
  }

  @media (max-width: $br1) {
    padding-top: 32px;
  }
}

.menu__link {
  display: block;
  color: var(--white);

  span {
    transition: transform 0.3s ease;
    display: block;
  }

  &:hover,
  &.router-link-exact-active {
    .menu__text::after {
      transform: translateX(0%);
    }
  }

  @media (max-width: $br1) {
    font-size: 36px;
  }
}

.menu__text {
  @include space-mono-reg;
  font-size: vw(65);
  line-height: 1em;
  overflow: hidden;

  width: fit-content;

  @media (max-width: $br1) {
    font-size: 36px;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: vw(4);
    transform: translateX(-100%);
    transform-origin: bottom;
    transition: transform 0.3s ease;
    background-color: var(--white);

    @media (max-width: $br1) {
      height: 4px;
    }
  }
}

.menu__desc {
  @include articulat-cf;
  font-size: vw(22);
  line-height: 1em;
  letter-spacing: 1px;
  margin-top: vw(18);

  @media (max-width: $br1) {
    font-size: 15px;
    margin-top: 10px;
  }
}

.menu__content {
  @include col(8, 12);
  opacity: 0;

  @media (max-width: $br1) {
    display: none;
  }
}

.menu__main-title {
  @include articulat-cf;
  color: var(--white);
  font-size: vw(40);
  line-height: 1.37em;

  &--2 {
    margin-top: vw(55);
  }
}

.menu__contact-block {
  margin-top: vw(85);
}

.menu__connect-text {
  @include space-mono-bold;
  color: var(--white);
  font-size: vw(17);
  line-height: 1em;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.menu__email {
  display: block;
  padding-top: vw(64);
  overflow: hidden;
  position: relative;
  width: fit-content;

  &:hover {
    span {
      transform: translateY(vw(-8));
    }

    &::after {
      transform: translateY(0%);
    }
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: vw(4);
    transform: translateY(100%);
    transform-origin: bottom;
    transition: transform 0.3s ease;
    background-color: #fff;
  }
}

.menu__email-text {
  @include articulat-cf;
  color: var(--white);
  font-size: vw(40);
  line-height: 1em;
  transition: transform 0.3s ease;
  display: block;
}
