.bottom-nav-btn--hidden {
  visibility: hidden;
}

.next-page-btn {
  @include space-mono-reg;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: vw(360);
  background-color: transparent;
  color: var(--white);
  font-size: vw(18);
  line-height: 100%;

  &:hover {
    .next-page-btn__arrow {
      transform: translateY(6px);
    }
    .next-page-btn__arrow--rotated {
      transform: translateX(6px);
    }
  }
}

.next-page-btn__arrow {
  transition: transform 0.3s ease;
  margin-top: vw(20);
  &--rotated {
    svg {
      transition: transform 0.3s ease;
      transform: rotate(-90deg);
    }
  }
}

.next-page-btn__arrow-img {
  display: block;
  width: vw(25);
  height: vw(12);

  path {
    stroke: var(--white);
  }
}
