.next-page-btn {
  @include cd-reg;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: vw(360);
  background-color: transparent;
  color: #777777;
  font-size: vw(15);
  line-height: 100%;

  &:hover {
    .next-page-btn__arrow {
      transform: translateY(6px);
    }
  }
}

.next-page-btn__arrow {
  transition: transform 0.3s ease;
  margin-top: vw(20);
}

.next-page-btn__arrow-img {
  display: block;
  width: vw(25);
  height: vw(12);
}
