.expertise-1 {
  height: 100vh;
  position: relative;
  background-color: var(--black);
  color: var(--white);
}

.expertise-1__wrapper {
  height: 100%;
}

.expertise-1__text-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.expertise-1__title {
  * {
    font-size: vw(200);
    line-height: 100%;
    letter-spacing: 0.05em;
    @media (max-width: $br1) {
      font-size: 80px;
    }
    @media (max-width: $br3) {
      font-size: 52px;
    }
    @media (max-width: $br4) {
      font-size: 42px;
    }
  }
  max-width: vw(1456);
  width: 100%;

  @media (max-width: $br1) {
    max-width: 80%;
  }

  @media (max-width: $br3) {
    max-width: 80%;
  }

  @media (max-width: $br4) {
    max-width: 100%;
  }
}

.expertise-1__style-title {
  @include snfine-reg-it;
}
