.expertise-4 {
  position: relative;
  background-color: var(--bg);
  color: var(--white);
}

.expertise-4__wrapper {
  height: 100%;
}

.expertise-4__table-text {
  .table-text-2__li {
    border-left: 4px solid var(--white);
  }
}
