.expertise-3 {
  position: relative;
  background-color: var(--bg);
  color: var(--white);
}

.expertise-3__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.expertise-3__img {
  display: block;
  width: vw(284);
  height: vw(284);

  @media (max-width: $br1) {
    width: 142px;
    height: 142px;
  }

  path {
    &:nth-last-child(-n + 4) {
      stroke: #cc69a3;
    }
  }
}
