.expertise-3 {
  position: relative;
  background-color: var(--bg);
  color: var(--white);
}

.expertise-3__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.expertise-3__img {
  display: block;
  width: vw(284);
  height: vw(284);

  .cls-1 {
    fill: url(#New_Gradient_Swatch_4);
    stroke-width: 0px;
  }

  @media (max-width: $br1) {
    width: 142px;
    height: 142px;
  }
}
