.expertise-8 {
  position: relative;
  background-color: var(--bg);
  color: var(--white);
  padding-bottom: vw(300);

  @media (max-width: $br1) {
    padding-bottom: 200px;
  }

  @media (max-width: $br3) {
    padding-bottom: 120px;
  }
}

.expertise-8__wrapper {
  height: 100%;
}

.expertise-8__btn {
  @include col(3, 10);
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: var(--white);
  width: fit-content;

  @media (max-width: $br4) {
    @include col(1, 4);
  }

  &:hover {
    .expertise-8__arrow {
      transform: translateY(8px);
    }
  }
}

.expertise-8__text {
  font-size: vw(45);
  line-height: 1em;
  letter-spacing: 2.25px;

  @media (max-width: $br1) {
    letter-spacing: 1px;
    font-size: 20px;
  }

  &:nth-of-type(1) {
    @include awesome-serif;
  }

  &:nth-of-type(2) {
    @include space-mono-bold;
    line-height: 1.4em;
    margin-top: vw(10);

    @media (max-width: $br1) {
      margin-top: 10px;
    }
  }
}

.expertise-8__arrow {
  margin-top: vw(62);
  transition: transform 0.4s ease;
  margin-left: auto;

  svg {
    display: block;
    width: vw(20);
    height: vw(34);

    @media (max-width: $br1) {
      width: 16px;
      height: 34px;
    }
  }

  @media (max-width: $br1) {
    margin-top: 34px;
  }
}
