.expertise-5 {
  position: relative;
  background-color: var(--bg);
  color: var(--white);
}

.expertise-5__wrapper {
  height: 100%;

  @media (min-width: $br1) {
    align-items: center;
  }

  @media (max-width: $br1) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.expertise-5__rotate-text {
  @include space-mono-bold;
  color: var(--white);
  letter-spacing: 4px;
  line-height: 1em;
  width: fit-content;

  @media (min-width: $br1) {
    @include col(1, 1);
    transform: rotate(-90deg);
    position: relative;
    top: vw(124);
    left: vw(-370);
    font-size: vw(20);
  }

  @media (max-width: $br1) {
    position: relative;
    margin-bottom: 40px;
    font-size: 16px;
  }
}

.expertise-5__accordion {
  @include col(3, 8);

  @media (max-width: $br1) {
    @include col(1, 12);
  }

  @media (max-width: $br4) {
    @include col(1, 4);
  }
}
