.expertise-6 {
  position: relative;
  background-color: var(--black);
  color: var(--white);

  @media (min-width: $br1) {
    height: 300vh;
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
}

.expertise-6__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  height: 100vh;
  top: 0;

  @media (max-width: $br1) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.expertise-6__title {
  @include cd-reg;
  font-size: vw(90);
  line-height: 100%;
  height: fit-content;

  @media (max-width: $br1) {
    font-size: 40px;
  }
}

.expertise-6__scroll-wrapper {
  overflow: hidden;
  height: vw(130);
}

.expertise-6__text-wrapper {
  overflow: hidden;
}

.expertise-6__text {
  @include cd-semibold;
  text-transform: uppercase;
  font-size: vw(50);
  line-height: 130%;
  letter-spacing: -0.01em;
  max-width: vw(950);

  @media (max-width: $br1) {
    font-size: 24px;
    max-width: 60%;
    margin-top: 20px;
  }

  @media (max-width: $br3) {
    max-width: 100%;
  }
}
